/* アイコンボタンの基本スタイル */
.page-button {
  display: inline-block;
  padding:8px;
  background-color: white; /* 通常時の背景色 */
  color: gray; /* 通常時のアイコンの色 */
  transition: all 0.2s ease;

}

/* ★★★ これが active なアイコンのスタイル ★★★ */
.page-button.active {
  background-color: white; /* 強調時の背景色 */
  color: green; /* 強調時のアイコンの色 */
}

